@import "../../variables";
@import "../../mixins";

.periodicGrowth {
  font-size:26px;
  color: #179800;
  font-weight: bold;
}

.disclaimer {
  font-size: 11px;
  color: #ababab;
  font-weight: bold;
}
